# .coveragerc to control coverage.py
[run]
include =
    # coverage for local files only
    catkin_tools_fetch/*
omit =
    # omit main
    catkin_tools_fetch/cli.py

[html]
directory = coverage_html_report


